# add your variables to a new .env file in the same directory as this file
# IMPORTANT: keep sample.env

POSTGRES_USER=YOUR_POSTGRES_USER_HERE
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD_HERE
POSTGRES_DB=YOUR_POSTGRES_DB_HERE

# the following are values you don't need to change
POSTGRES_HOST=db
POSTGRES_PORT=5432